// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comment{
	border:1px solid #91A7FF;
	width: 500px;
	padding:5px;
	margin:3px;
}
.comment .commenter{
	font-weight:bold;
}


#preview{	
	position: fixed;
    width:500px;
	height:700px;
    background-color:#FFF;
    padding:10px;
    border:5px solid #682FF7;
    z-index:200;
   	top: 20%;
	left: 50%;
	margin-top: -100px;
	margin-left: -250px;
	overflow-y:scroll;
}

#mailcontent{
	border: 1px solid #BDBDBD;
	width: 800px;
	height:300px;
	overflow-y:auto;
	padding:2px;
}