// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comment{
	border:1px solid #91A7FF;
	width: 500px;
	padding:5px;
	margin:3px;
}
.comment .commenter{
	font-weight:bold;
}


#preview{	
	position: fixed;
    width:500px;
	height:700px;
    background-color:#FFF;
    padding:10px;
    border:5px solid #682FF7;
    z-index:200;
   	top: 20%;
	left: 50%;
	margin-top: -100px;
	margin-left: -250px;
	overflow-y:scroll;
}

#mailcontent{
	border: 1px solid #BDBDBD;
	width: 800px;
	height:300px;
	overflow-y:auto;
	padding:2px;
}


UL.tabNavigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

UL.tabNavigation li {
    padding: 0px 4px 0px 0px;
    display: inline;
}

UL.tabNavigation li A {
    padding: 4px 15px;
    background-color: #ccc;
    color: #000;
    text-decoration: none;
}

UL.tabNavigation li A.selected,
UL.tabNavigation li A:hover {
    background-color: #333;
    color: #fff;
    padding-top: 7px;
}

UL.tabNavigation li A:focus {
        outline: 0;
}

div.tabs > div {
        padding: 5px;
        margin-top: 3px;
        border: 2px solid #333;
}

div.tabs > div h2 {
        margin-top: 0;
}
div.state_container {
    width:500px;
}
div.et_container{
    margin:3px;
    padding:5px;
    border:1px solid grey;
}
